/* This file is for your main application css. */
.root {
    position: relative;
}

html, body, .root, .app-container, #elm-container, #main {
    height: 100%;
    margin: 0;
    padding: 0;
}

.typing {
    background-color: white;
    position: absolute;
    height: 130px;
    width: 580px;
    margin: 50px 0 0 -200px;
    top: 10%;
    left: 45%;
    overflow: hidden;
}

.word {
    font-size: 40px;
    float: left;
    margin: 12px 8px 10px 8px;
}

.currentWord {
    font-size: 40px;
    float: left;
    margin: 12px 8px 10px 8px;
}
