/* This file is for your main application css. */
/*.root {*/
    /*position: relative;*/
/*}*/

* {
    box-sizing: border-box;
}

html, body, .app-container, #elm-container, #main {
    height: 100%;
    margin: 0;
    padding: 0;
}

.root {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

p {
    margin: 0;
    padding: 0;
}

.stats-container {
    width: 100%;
    margin-top: 30px;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.metrics {
    display: flex;
    flex-direction: row;
}

.status-text {
    font-size: 30px;
}

.metrics-text {
    font-size: 30px;
    margin-top: 10px;
}

.cpm {
    margin-top: 20px;
    margin-left: 50px;
    font-size: 20px;
}

.wpm {
    margin-top: 20px;
    margin-right: 50px;
    font-size: 20px;
}


.typing {
    height: 285px;
    max-width: 75%;
    overflow: hidden;
    background-color: white;
    margin-top: 50px;
    border: 2px solid #6A8BE3;
}

.countdown {
    align-self: center;
}

.current-typed-chars {
    margin-top: 10px;
    font-size: 30px;
}

.word {
    font-size: 40px;
    float: left;
    margin: 0px 8px 0px 8px;
}

.currentWord {
    font-size: 40px;
    float: left;
    margin: 0px 8px -2px 8px;
    border-bottom: 2px solid #6A8BE3;
}

.header-text {
    padding-top: 15px;
    padding-left: 10px;
    color: #FFFFFF;
    font-weight: 300;
    word-spacing: 3px;
    letter-spacing: 5px;
}

.header {
    align-self: flex-start;
    height: 50px;
    margin: 0;
    width: 100%;
    background-color: #6A8BE3;
}
