/* This file is for your main application css. */
/*.root {*/
    /*position: relative;*/
/*}*/

html, body, .root, .app-container, #elm-container, #main {
    height: 100%;
    margin: 0;
    padding: 0;
}

.typing {
    height: 175px;
    width: 560px;
    overflow: hidden;
    background-color: white;
    position: absolute;
    margin: 50px 0 0 -200px;
    top: 10%;
    left: 45%;
}

.word, .currentWord {
    font-size: 40px;
    display: inline-block;
    margin: 0px 8px 10px 8px;
}
