/* This file is for your main application css. */
/*.root {*/
    /*position: relative;*/
/*}*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html, body, .app-container, #elm-container, #main {
    height: 100%;
    margin: 0;
    padding: 0;
}

.root {
    height: 100%;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.words-box {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

p {
    margin: 0;
    padding: 0;
}

.stats-container {
    width: 100%;
    margin-top: 30px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.metrics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.status-text {
    font-size: 30px;
}

.metrics-text {
    font-size: 30px;
    margin-top: 10px;
}

.cpm {
    margin-top: 20px;
    margin-left: 50px;
    font-size: 20px;
}

.wpm {
    margin-top: 20px;
    margin-right: 50px;
    font-size: 20px;
}


.typing {
    height: 285px;
    max-width: 75%;
    overflow: hidden;
    background-color: white;
    margin-top: 50px;
    border: 2px solid #6A8BE3;
}

.countdown {
    -ms-flex-item-align: center;
        align-self: center;
}

.current-typed-chars {
    margin-top: 10px;
    font-size: 30px;
}

.word {
    font-size: 40px;
    float: left;
    margin: 0px 8px 0px 8px;
}

.currentWord {
    font-size: 40px;
    float: left;
    margin: 0px 8px -2px 8px;
    border-bottom: 2px solid #6A8BE3;
}

.header-text {
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding-top: 15px;
    padding-left: 10px;
    color: #FFFFFF;
    font-weight: 300;
    word-spacing: 3px;
    letter-spacing: 5px;
}


.restart {
    background: none;
    cursor: pointer;
    border: none;
    font-size: 18px;
    padding-bottom: 18px;
    padding-right: 10px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-left: auto;
}

.restart:hover {
    color: darkblue;
}

.restart:active {
    color: white;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 50px;
    margin: 0;
    width: 100%;
    background-color: #6A8BE3;
}
